<p-dialog
  [header]="header"
  [modal]="true"
  [(visible)]="display"
  [closable]="false"
>
  <div class="column gap-1">
    <!-- Name -->
    <div class="row gap-05">
      <span class="price-label">Name:</span>
      <input type="text" [(ngModel)]="product.name" />
    </div>

    <!-- Price -->
    <div class="row gap-05">
      <span class="price-label">Price:</span>
      <input type="text" [(ngModel)]="product.price" />
    </div>

    <!-- Image -->
    <div class="row gap-05">
      <span class="price-label">Image:</span>
      <input type="text" [(ngModel)]="product.image" />
    </div>

    <!-- Rating -->
    <p-rating
      [(ngModel)]="product.rating"
      [readonly]="false"
      iconCancelClass="hidden"
    >
    </p-rating>
  </div>
  <p-footer>
    <button
      type="button"
      pButton
      icon="pi pi-check"
      (click)="onConfirm()"
      label="Confirm"
    ></button>
    <button
      type="button"
      pButton
      icon="pi pi-times"
      (click)="onCancel()"
      label="Cancel"
    ></button
  ></p-footer>
</p-dialog>
